.navbar {
    background: #141E61;
    color: #EEEEEE;
    width: 100%;
    height: 60px;
    display: inline-block;
    font-size: 20px

}

body {
    margin: 0px;
}

#navbar-items {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0px;
    display: flex;
    margin-right: 2rem;
}
li {
    padding-left: 5rem;
    list-style: none;
}